.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #537dd2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Banner Image */
.banner-segment {
  margin-top: 20px;
  margin-bottom: 40px;
}

.banner-image {
  width: 100%;
  height: auto;
}

/* View buttons for articles/tutorials */
.view-button {
  margin-top: 20px;
}

/* Subscription Section */
.subscription-section {
  margin-top: 40px;
  padding: 40px;
  background-color: #98d7d4;
}

/* Footer Section */
.footer-section {
  padding: 40px 0;
  background-color: #1b1c1d !important;
  color: white !important;
}

.footer-section h4, .footer-section p {
  color: white !important;
}